.singleProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #0C120C;
  border-radius: 5px;
  margin: 20px;
  width: 800px; /* Adjust the width to your desired value */
  color:#C20114 ;
}

.singleProductContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.singleProductDescription {
  text-align: left;
  margin-bottom: 10px;
  color: #C20114;
}

.singleProductVideo {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  margin-bottom: 20px;
}

.singleProductDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.singleProductDisplay iframe {
  width: 100%;
  height: 100%;
}

.singleProductDetails {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.singleProductDetails span {
  margin-right: 10px;
}

.singleProductDetails button {
  background-color: #C20114;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
