body {
  font-family: sans-serif;
  background-size: cover;
  background-image: url('./assets/gifs/background.jpg');
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
