/* body {
  font-family: sans-serif;
  background-size: cover;
  background-image: url('./assets/gifs/background.jpg');
  background-repeat: repeat;
} */
body{
  background-image: url('./assets/gifs/blacknred.jpeg');
  background-repeat: repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

*{
  box-sizing: border-box;
}